* {
  scroll-behavior: smooth;
}

.burger {
  height: 20px;
  position: relative;
  width: 30px;
  &-line {
    display: flex;
    width: 30px;
    height: 2px;
    background: #EBC369;
    transition: .3s all ease;
  }
  &.active>.top-line {
    transform: translateY(8px) rotate(45deg);
    transition: .3s all ease;
  }
  
  &.active>.mid-line {
    opacity: 0;
    transition: .3s all ease;
  }
  
  &.active>.bottom-line {
    transform: translateY(-10px) rotate(-45deg);
    transition: .3s all ease;
  }

  .top-line {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .mid-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

#heroBlock {
  background: url('../img/intro_bg.png') center/cover no-repeat;
  background-position: 30% 70%;
}

#aboutUsImage {
  background: url('../img/about-us.jpg') center center/cover no-repeat;
}

#rightsModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

#dealsModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

#estateModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

#familyModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

#securityModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

#translateModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}

.question-body {
  display: flex;
  justify-content: center;
  align-items: center;
  .question-content {
    max-width: 992px;
    .question-block {
      position: relative;
      margin-top: 15px;
      .question-title {
        position: relative;
        padding: 15px;
        padding-right: 45px;
        background: #6991EB;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
      }
      .question-title::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
      .answer-text {
        font-size: 16px;
        position: relative;
        background: transparent;
        height: 0;
        overflow: hidden;
        transition: 0.4s;
      }
    }
    .question-block.active {
      .answer-text {
        height: 100%;
        padding: 15px;
      }
      & .question-title::before {
        content: '-';
      }
    }
  }
}

#sendRequestModal {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open > div > div {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  & > div > div {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }
}


#callbackBlock {
  background: url('../img/callback-bg.jpg') center center/cover no-repeat;
}







