.burger {
  height: 20px;
  position: relative;
  width: 30px;
  &-line {
    display: flex;
    width: 30px;
    height: 2px;
    background: #EBC369;
    transition: .3s all ease;
  }
  &.active>.top-line {
    transform: translateY(8px) rotate(45deg);
    transition: .3s all ease;
  }
  
  &.active>.mid-line {
    opacity: 0;
    transition: .3s all ease;
  }
  
  &.active>.bottom-line {
    transform: translateY(-10px) rotate(-45deg);
    transition: .3s all ease;
  }

  .top-line {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .mid-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

#heroBlock {
  background: url('../img/intro_bg.png') center/cover no-repeat;
  background-position: 60% 40%;
}

#aboutUsImage {
  background: url('../img/about-us.jpg') center center/cover no-repeat;
}